<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.3.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.0.2" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.2" targetFramework="net48" />
  <package id="EPPlus" version="7.2.2" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.0.0" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.0.0" targetFramework="net48" />
  <package id="GemBox.Spreadsheet" version="49.0.1767" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="7.3.0" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0" targetFramework="net48" />
  <package id="HcBimUtils" version="2024.0.11" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2023.3.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.25012.12000" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPI" version="2024.2.0" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPIUI" version="2024.2.0" targetFramework="net48" />
  <package id="Nice3point.Revit.Extensions" version="2024.1.0" targetFramework="net48" />
  <package id="Nice3point.Revit.Toolkit" version="2024.1.1" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>